body {
    /* background-color: rgb(31, 32, 32); */
    background-image: url('./imgs/laptoptechimg.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px) */
}



.container {
    border-radius: 15px;
    background-color: rgba(22, 20, 20, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: deeppink;
    margin-top: 90px;
    width: 700px;
}

.heading1 {
    text-align: center;
    color: white !important;
}

.buton {
    background-color: deeppink;
    border-radius: 15px;
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
    color: beige;
    border: none;
}

.buton1{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}
.buton:hover {
    background-color: orange;
}

.input-line{
    width: 300px;
    border-radius: 15px;
    background-color: transparent;
    border-color: wheat;
    color: deeppink;

}









@media (max-width: 600px) {
    .container {
        margin-top: 150px;
        margin-bottom: 150px;
        height: 900px;
        font-size: 25px;
        width: 400px;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        background-color: rgba(22, 20, 20, 0.4);
        
    }

    body {
        background-image: url('./imgs/laptoptechimg.jpg');
        background-size: cover;
        background-position: center;
        max-width: 100%;
        max-height: 100% !important;
    }
}